.card-title{
    padding-right: 66em;
    text-decoration: underline;
    font-weight: 700;
}

.card{
    border-width: 10px;
    border-color: #0d6efd;
}
.card-body{
    background-color: gray;
}
.wrapper{
    padding-top: 5em;
    padding-right: 15em;
    padding-left: 15em;
}

.input-group{
    padding-top: 0.5em ;
}
