.wrapper{
    padding-top: 5em;
    padding-right: 15em;
    padding-left: 15em;
}

.map-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaflet-container{
    width: 70em;
    height: 50em;
  }